<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <div class="card" style="width: 15rem;">
        <div class="list-group">
            <span class="list-group-item align-middle card-top">磊 の Blog</span>
            <a href="#" class="list-group-item list-group-item-action" th:href="@{/}">首页</a>
            <a href="#" class="list-group-item list-group-item-action" th:href="@{/list}">归档</a>
            <a href="#" class="list-group-item list-group-item-action" th:href="@{/category}">分类</a>
            <a href="#" class="list-group-item list-group-item-action">关于</a>
        </div>
    </div>
    <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="img/壁纸_186001.jpg" alt="Card image cap" th:src="@{/theme/side-picture.jpg}">
        <div class="card-body">
            <h5 class="card-title">To my dream</h5>
<!--            <p class="card-text">Go!</p>-->
        </div>
        <div class="card-body">
            <a href="https://github.com/ray96224" class="card-link">GitHub</a>
        </div>
    </div>
</div>
</body>
</html>