<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="text-center" style="margin-top: 200px">
        <div style="font-size: 200px">404</div>
        <div style="font-size: 25px">出错了 o_o....</div>
    </div>
</div>
</body>
</html>